wpfData/Connected Services/ServiceReferenceSnack/ServiceSnack.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceSnack" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceModel/ServiceSnack/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceModel/ServiceSnack/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceModel/ServiceSnack/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSnacks_GetAllCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCities" />
  </wsdl:message>
  <wsdl:message name="IServiceSnacks_GetAllCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSnacks_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IServiceSnacks_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSnacks_GetAllSnacks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSnacks" />
  </wsdl:message>
  <wsdl:message name="IServiceSnacks_GetAllSnacks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSnacksResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSnacks_GetSnacksByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSnacksByUser" />
  </wsdl:message>
  <wsdl:message name="IServiceSnacks_GetSnacksByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSnacksByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSnacks_GetUserBySnack_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserBySnack" />
  </wsdl:message>
  <wsdl:message name="IServiceSnacks_GetUserBySnack_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserBySnackResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSnacks_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceSnacks_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSnacks">
    <wsdl:operation name="GetAllCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSnacks/GetAllCities" message="tns:IServiceSnacks_GetAllCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSnacks/GetAllCitiesResponse" message="tns:IServiceSnacks_GetAllCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSnacks/GetAllUsers" message="tns:IServiceSnacks_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSnacks/GetAllUsersResponse" message="tns:IServiceSnacks_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSnacks">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSnacks/GetAllSnacks" message="tns:IServiceSnacks_GetAllSnacks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSnacks/GetAllSnacksResponse" message="tns:IServiceSnacks_GetAllSnacks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSnacksByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSnacks/GetSnacksByUser" message="tns:IServiceSnacks_GetSnacksByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSnacks/GetSnacksByUserResponse" message="tns:IServiceSnacks_GetSnacksByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserBySnack">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSnacks/GetUserBySnack" message="tns:IServiceSnacks_GetUserBySnack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSnacks/GetUserBySnackResponse" message="tns:IServiceSnacks_GetUserBySnack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSnacks/Login" message="tns:IServiceSnacks_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSnacks/LoginResponse" message="tns:IServiceSnacks_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSnacks" type="tns:IServiceSnacks">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCities">
      <soap:operation soapAction="http://tempuri.org/IServiceSnacks/GetAllCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IServiceSnacks/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSnacks">
      <soap:operation soapAction="http://tempuri.org/IServiceSnacks/GetAllSnacks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSnacksByUser">
      <soap:operation soapAction="http://tempuri.org/IServiceSnacks/GetSnacksByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserBySnack">
      <soap:operation soapAction="http://tempuri.org/IServiceSnacks/GetUserBySnack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiceSnacks/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSnack">
    <wsdl:port name="BasicHttpBinding_IServiceSnacks" binding="tns:BasicHttpBinding_IServiceSnacks">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceModel/ServiceSnack/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>